.cardResult {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 250px;
    margin: 1rem;
    position: relative;
    width: 550px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .cardResult:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .iconStyles {
    size: 30px;
  }
